# This is a GitHub CI workflow for the NCEPLIBS-bufr project.
#
# This workflow tests on Linux with different compilers.
#
# Ed Hartnett, 1/10/23
name: Linux
on:
  push:
    branches:
    - develop
  pull_request:
    branches:
    - develop

jobs:
  Linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ccompiler: [clang, gcc-9, gcc-10]

    steps:

    - name: install-deps
      run: |
       sudo apt-get update
       sudo apt-get install python3-pip python3-dev python3-numpy
       sudo python3 -m pip install -U pip setuptools
       sudo python3 -m pip install -U numpy
       sudo python3 -m pip install -U netCDF4
       sudo python3 -m pip install -U pdoc

    - name: checkout
      uses: actions/checkout@v3
      with:
        path: bufr
        submodules: true

    - name: cache-data
      id: cache-data
      uses: actions/cache@v3
      with:
        path: ~/data
        key: data-10

    - name: build
      run: |
        if [[ ${{ matrix.ccompiler }} == "clang" ]]; then
          export CC=clang
        elif [[ ${{ matrix.ccompiler }} == "gcc-9" ]]; then
          export CC=gcc-9
          export FC=gfortran-9
        elif [[ ${{ matrix.ccompiler }} == "gcc-10" ]]; then
          export CC=gcc-10
          export FC=gfortran-10
        fi
        cd bufr
        mkdir build
        cd build
        cmake -DTEST_FILE_DIR=/home/runner/data -DCMAKE_INSTALL_PREFIX=./install -DENABLE_PYTHON=ON ..
        make -j2 VERBOSE=1
        make install
        cd python
        sudo python3 setup.py install

    - name: test
      run: |
        cd bufr/build
        ctest --verbose --output-on-failure --rerun-failed

    - name: cache-data
      if: steps.cache-data.outputs.cache-hit != 'true'
      run: |
        mkdir ~/data
        cp $GITHUB_WORKSPACE/bufr/build/test/bufr-11.6.0.tgz ~/data
