name: code coverage
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FC: gfortran-10
      CC: gcc-10

    steps:
    - name: install-deps
      run: |
          sudo apt-get update
          sudo apt-get install doxygen
          sudo apt-get install python3-pip python3-dev python3-numpy
          sudo python3 -m pip install -U pip setuptools
          sudo python3 -m pip install -U numpy
          sudo python3 -m pip install -U netCDF4
          sudo python3 -m pip install -U pdoc
          sudo python3 -m pip install -U gcovr

    - name: checkout
      uses: actions/checkout@v2
      with:
        path: bufr
        submodules: true

    - name: build
      run: |
        export CC=gcc-10
        export FC=gfortran-10
        cd bufr
        mkdir build
        cd build
        cmake -DCMAKE_INSTALL_PREFIX=./install -DCMAKE_Fortran_FLAGS="-g -fprofile-arcs -ftest-coverage -fprofile-abs-path -O0" ..
        make -j2
        make install

    - name: test
      run: |
        cd $GITHUB_WORKSPACE/bufr/build
        ctest
        gcovr -r .. --html-details -o test-coverage.html

    - uses: actions/upload-artifact@v2
      with:
        name: test-coverage
        path: NCEPLIBS-bufr/build/*.html
      
